on: push
jobs:
  ci:
    runs-on: ubuntu-22.04
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: '1.19.2'
          cache: true
      - name: "Run CI"
        run: make --warn-undefined-variables --no-print-directory ci
      - name: "Upload coverage"
        uses: actions/upload-artifact@v3
        with:
          name: coverage
          path: coverage.*
