on: push
jobs:
  ci:
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.24'
          check-latest: true
      - name: "Run CI"
        run: make --warn-undefined-variables --no-print-directory ci
      - name: "Upload coverage"
        uses: actions/upload-artifact@v4
        with:
          name: coverage
          path: coverage.*
